.studentlist {
	margin: 0 auto;
	padding: 0;
	max-width: 100vw;
	&__search {
		font-family: $roboto;
		color: $grey;
		max-width: 100%;
		border-bottom: $lightgrey solid 1px;
	}
	&__input {
		border: none;
		padding: 8px;
	}
	&__input::focus {
		border: none;
	}
}
